<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

In [1]:
Data Science Tools and Ecosystem

SyntaxError: invalid syntax (1888292588.py, line 1)

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized

In [ ]:
Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL

In [ ]:
Some of the commonly used libraries used by Data Scientists include:

1. Pandas  
2. NumPy  
3. Matplotlib

In [ ]:
import pandas as pd

tools = {
    "Data Science Tools": [
        "Jupyter Notebook",
        "RStudio",
        "Apache Spark"
    ]
}

tools_df = pd.DataFrame(tools)
tools_df

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
# This a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

In [ ]:
**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries in Data Science  
- Create tables using markdown  
- Demonstrate arithmetic expressions in code  
- Share Jupyter notebooks through GitHub

In [ ]:
## Author  
Alexander Khan